.gp-dots {
    font-family:"Lora","Courier New",monospace,serif;
    font-size:32px;
    color:#000;

    line-height: 1rem;

    position: relative;
    top: 0.35rem;
}

.gp-row-balls {
    width: 1.5em;
}

.gp-row-strikes, .gp-row-outs {
    width: 1.5em;
}

.gp-row-batter, .gp-row-pitcher {
    width: 13em;
}

.gp-row-inning {
    width: 4em;
}

.gp-row-score {
    text-align: center;
    min-width: 7em;
    width: 8em;
}

.gp-row-time {
    text-align: right;
    width: 14em;
}